name: Build and test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  spell-check:
    name: Spell check using the typos-cli crate
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: crate-ci/typos@v1

  lint-markdown:
    name: Lint Markdown files with dprint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dprint/check@v2.3
